:root{
    --text-clr: #becfce;
    --dark-clr: hsl(155, 100%, 10%);
    --dark-clr-sec: hsl(155, 100%, 15%); 
  }

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.details_img {
    position: relative;
}
.details_img > img {
    min-width: 250px;
    max-width: 920px;
    border: 60px solid  #d6d6c7;
    border-radius: 0px;
    outline: 25px solid #2e231f;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 20px 20px 12px 10px rgba(0, 0, 0, 0.596);
}
.details h1{
    font-size: 2.5rem;
    letter-spacing: .7rem;
}
.details h2{
    font-size: 1.75rem;
    letter-spacing: .4rem;
    font-weight: 200;
    font-style: italic;
    color:  var(--dark-clr, black);
    margin-bottom: 1rem;
     /* text-shadow: 1px 1px 5px var(--dark-clr); */
  
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infos > p {
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: italic;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: var(--dark-clr);
}

.details a {
    color: var(--text-clr);
    font-weight: lighter;
    text-decoration: none;
}
.colorPickerContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--dark-clr);
}
input[type="color"]{
    width: 70%;
    height: 2rem;
    border: none;
    border-radius: 4px;
}
input[type="number"]{
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: .3rem .5rem;
    border-radius: 10px;
    background-color: var(--dark-clr-sec);
    color: var(--text-clr);
    margin-right: .5rem;
}
label{
    color:var(--dark-clr) ;
}

details {
    padding: 0.5rem 1rem;
    display: inline;
    cursor: pointer;
    overflow: hidden;
  }
  details * {
    margin: 0;
  }
  details::details-content {
    display: block;
    block-size: 0;
    transition: block-size 1s content-visibility 1s;
    transition-behavior: allow-discrete;
  }
  details[open]::details-content {
    margin-inline-start: 3rem;
    block-size: auto;
    block-size: calc-size(auto);
  }
  
  summary::marker{
    font-size: 0rem;
    color: var(--dark-clr-sec);
  }

   .details_arrow_left,
   .details_arrow_right {
    position: absolute;
    color: red;
    background-color: var(--dark-clr);
    margin: 0;
    top: 50%;
    /* transform: translate(0, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    cursor: pointer;
  }
   .details_arrow_left {
    left: -100px;
  }
  
  .details_arrow_right {
    right: -100px;
  }
  
  .details_arrow_left > *, 
  .details_arrow_right > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bottom_btn {
    font-family: 'Jura';
    font-size: 1.25rem;
    font-weight: lighter;
    margin: 2rem;
    color: red;
    background-color: var(--dark-clr);
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    box-shadow: 1px 1px  8px rgba(0, 0, 0);
  }

@media(680px < width < 920px ){
    .details_img > img{
        width: 650px;
        border: 45px solid  rgb(214, 214, 199);
    }
}
@media(max-width:679px){
    .details_img > img{
        width: 450px;
        border: 30px solid  rgb(214, 214, 199);
    }
    .infos{
        position: relative;
        text-align: center;
    }
}