
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color:  hsl(155, 100%, 10%);
    font-weight: light;
    margin-top: 4rem;
}

p{
    margin: 0;
    font-style: normal;
}